* {
    box-sizing: border-box;
  }

  body {
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
   
  }
  .navbar{
    border-bottom: 2px solid black;
    color: black;
    text-align: center;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  .game-name {
    margin: 0 auto;
  }
  .btn{
    border-radius: 50%;
    cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 20px;
    border-style: none;
    background-color: #FFFFFF;
    border: 3px solid #000000;
    margin-right: 10px; 
    
  }
  .wait-bar{
    text-align: center;
    padding: 15px 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

  }

  /* Style for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Style for the modal content and center it */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* Style for the close button */
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

  .scoreboard{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 295px;
    row-gap: 10px;
    column-gap: 10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
  .scoreboard-letter{
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-transform: uppercase;
    border: 3px solid #ccc;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .wrong{
    background-color: #888888;
    border: 3px solid #888888;
    color: white;
  }
  .close{
    background-color: #DAA520;
    border: 3px solid #DAA520;
    color: white;
  }
  .correct{
    background-color: #006300;
    border: 3px solid #006300;
    color: white;
  }
  
  .invalid{
    animation: flash 1s;
  }

    @keyframes flash {
        5% {
        border: 3px solid crimson;
        }
        100% {
        border: 3px solid #ccc;
        }
    }

  .spiral{
    font-size: 30px;
    animation:spin 1.5s linear infinite;
  }  
    @keyframes spin { 
        to { 
        transform: rotate(360deg); 
        } 
    }
    .show{
        visibility: visible ;
    }

    /* winner animation */

@keyframes rainbow {
    100%,
    0% {
      color: rgb(255, 0, 0);
    }
    8% {
      color: rgb(255, 127, 0);
    }
    16% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(127, 255, 0);
    }
    33% {
      color: rgb(0, 255, 0);
    }
    41% {
      color: rgb(0, 255, 127);
    }
    50% {
      color: rgb(0, 255, 255);
    }
    58% {
      color: rgb(0, 127, 255);
    }
    66% {
      color: rgb(0, 0, 255);
    }
    75% {
      color: rgb(127, 0, 255);
    }
    83% {
      color: rgb(255, 0, 255);
    }
    91% {
      color: rgb(255, 0, 127);
    }
  }
  
  .winner {
    animation: rainbow 4s infinite linear;
  }

  @keyframes flip {
    0% {
      transform: scaleY(1);
    }
    50% {
      transform:  scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }
  
  .flipping {
    animation: flip 0.6s ease-in-out;
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .bouncing {
    animation: bounce 0.3s;
  }

  .scoreboard-example{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2px;
  }
  .scoardboard-letter-example{
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-transform: uppercase;
    border: 2px solid #ccc;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-content > p > span{
    font-weight: bold;
}

  .green {
    animation: greenAnimation 1s ease-in forwards;
    transition: background-color 1s;
  }
  
  @keyframes greenAnimation {
    0% {
    
      background-color: initial;

    }
    50% {
      transform:  scaleY(0);
    }
    100% {
      
      background-color: #6AA964;
      border: 3px solid #6AA964;
      color: white;
    }
  }

  .orange {
    animation: orangeAnimation 1s ease-in forwards;
    transition: background-color 1s;
  }
  
  @keyframes orangeAnimation {
    0% {
    
      background-color: initial;

    }
    50% {
      transform:  scaleY(0);
    }
    100% {
      
      background-color: #C9B458;
      border: 3px solid #C9B458;
      color: white;
    }
  }


  .grey {
    animation: greyAnimation 1s ease-in forwards;
    transition: background-color 1s;
  }
  
  @keyframes greyAnimation {
    0% {
    
      background-color: initial;

    }
    50% {
      transform:  scaleY(0);
    }
    100% {
      
      background-color: #787C7E;
      border: 3px solid #787C7E;
      color: white;
    }
  }

  .virtual-keyboard {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    width: 30%;
    width: fit-content ;
    padding: 10px;
  }

  .row{
    display: flex;
    /* grid-template-columns: repeat(10, 1fr); */
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
  }

  .key{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 55px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    background-color: #D3D6DA;
    border-radius: 5px;
  }

  #key-enter , #key-delete{
    width: 65px;
    font-size: 10px;
  }
  
  .wrong{
    background-color: #787C7E;
    border: 3px solid #787C7E;
    color: white;
  }
  .close{
    background-color: #C9B458;
    border: 3px solid #C9B458;
    color: white;
  }
  .correct{
    background-color: #6AA964;
    border: 3px solid #6AA964;
    color: white;
  }

  .keyboardShadow{
    background-color: #e3e6e9;
    animation: keyboardShadow 1s; 
  }
  @keyframes changeBackgroundColor {
    0% {
      background-color: initial;
    }
    50% {
      background-color: #e3e6e9; 
    }
    100% {
      background-color: initial;
    }
  }